

body {
    background-color: white;
}
#login-border{
    box-shadow: 5px 5px 4px 3px rgba(121, 201, 47, 0.541);
    background-image: linear-gradient(to right, white, rgba(240, 231, 231, 0.623));
    border: 3px dashed green;
}

.fondo{
   /* background-image: linear-gradient(to right,#40610f,#456614,#4a6b1a);*/
    background-image: linear-gradient(to right,#0d692f,#166f34,#1e7439);

}

.formInsertar{
   
    background-image: linear-gradient(to right, white, rgba(240, 231, 231, 0.623));
    border-top: 10px double #01642a;
    border-bottom: 10px double #01642a;

 
 
}

.titulo{
font-family: cursive; 
font-size: 30px; 
color:#10431f; 
text-shadow: 2px 2px 6px  #10431f;
}

li{
    height: 3.5em;
    width: 9em;
    -moz-border-radius: 1em 4em 1em 4em;
    border-radius: 1em 4em 1em 4em;
    background-color:#3c7d4a;
    border: 2px solid #01642a;
    padding-left: 0.5em;

    } 

    li:hover{
        background-color:#01642a;
        border: 2px solid #3c7d4a;
    }

    .footerCu{
        margin-bottom: 12.7em;
    }

    .footerLogin{
        margin-bottom: 7.95em;
    }
  
    /*LISTAS*/

    .view-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
    }
    .thumbnail
    {
        margin-bottom: 30px;
        padding: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 7px;
        border:2px solid #01642a;
       
    }

    .thumbnail:hover{
        
    }
 
    
    .item.list-group-item
    {
        float: none;
        width: 100%;
        background-color: #fff;
        margin-bottom: 30px;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 1rem;
        border: 0;
    }

    
    .item.list-group-item .img-event {
        float: left;
        width: 30%;
    }
    
    .item.list-group-item .list-group-image
    {
        margin-right: 10px;
    }
    .item.list-group-item .thumbnail
    {
        margin-bottom: 0px;
        display: inline-block;
        width: 100%;
        border-radius: 7px;
    }
    .item.list-group-item .caption
    {
        float: left;
        width: 70%;
        margin: 0;
    }
    
    .item.list-group-item:before, .item.list-group-item:after
    {
        display: table;
        content: " ";
    }
    
    .item.list-group-item:after
    {
        clear: both;
    }

   
    